* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background: #111; 
  color: #f8f8f8;
  display: flex;
  padding: 8px;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
  width: 0 auto;
}

.wrapper {
  max-width: 600px;
  margin: 2% 1rem 0 1rem;
}

.name {
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
}

.profession {
  text-align: center;
  font-size: 1.7rem;
  letter-spacing: 1.2px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icons i {
  padding: 20px 40px;
  color: #f8f8f8;
}

i:hover {
  color: #00ff62;
  transition: ease-in color 0.5s;
}


.image {
  width: 100%;
  height: auto;
  border-radius: 1.5px;
}

ul {
  list-style-type: none;
}

.email {
  text-align: center;
  font-size: 1.3rem;
  padding: 1.5rem;
}
