* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: #111; 
  color: #f8f8f8;
  display: flex;
  padding: 8px;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
  width: 0 auto;
}

.box {
  position: relative;
  display: inline-block;
}

.box .text {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
}


.wrapper {
  max-width: 600px;
  margin: 2% 1rem 0 1rem;
}

.name {
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.name-link {
  text-decoration: none;
  color: #f8f8f8;
}

.profession {
  text-align: center;
  font-size: 1.7rem;
  letter-spacing: 1.2px;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
   -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.icons i {
  padding: 20px 40px;
  color: #f8f8f8;
}

i:hover {
  color: #2BBC8A;
  transition: ease-in color 0.5s;
}


.image {
  width: 100%;
  height: auto;
  border-radius: 1.5px;
}

.image-box {
  position: relative;
  top: 0;
  left: 0;
}

.image--top {
  position: absolute;
  top: 0;
  left: 0;
}

.image--flicker {
  animation: image-flicker 3s 1 linear;
}

.image--top:hover {
  opacity: 0.03;
  transition: opacity 1s ease-in-out;
}

.image--bottom {
  position: relative;
  top: 0;
  left: 0;
}


ul {
  list-style-type: none;
}

.email {
  text-align: center;
  font-size: 1.3rem;
  padding: 1.5rem;
   -webkit-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* Startup Animation */

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


/* Image flicker */
@-webkit-keyframes image-flicker {
  0% {
    opacity:0.1;
  }
  
  2% {
    opacity:1;
    opacity:0.1;
    opacity:1;
  }
  12% {
    opacity:0.1;
  }
  20% {
    opacity:1;
  }
  25% {
    opacity:0.3;
  }
  30% {
    opacity:1;
  }
  
  70% {
    opacity:0.7;
  }
  
  77% {
    opacity:.9;
  }

  80% {
    opacity:1;
    opacity:0.1;
    opacity:1;
  }

  85% {
    opacity: .8;
  }

  87% {
    opacity:1;
    opacity:0.4;
    opacity:1;
  }

  90% {
    opacity: .8;
  }

  95% {
    opacity: .9;
  }

  100% {
    opacity: 1;
  }

}

@keyframes image-flicker {
  0% {
    opacity:0.1;
  }
  
  2% {
    opacity:1;
    opacity:0.1;
    opacity:1;
  }
  12% {
    opacity:0.1;
  }
  20% {
    opacity:1;
  }
  25% {
    opacity:0.3;
  }
  30% {
    opacity:1;
  }
  
  70% {
    opacity:0.7;
  }
  
  77% {
    opacity:.9;
  }

  80% {
    opacity:1;
    opacity:0.1;
    opacity:1;
  }

  85% {
    opacity: .8;
  }

  87% {
    opacity:1;
    opacity:0.4;
    opacity:1;
  }

  90% {
    opacity: .8;
  }

  95% {
    opacity: .9;
  }

  100% {
    opacity: 1;
  }
}

/* Particles */

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

