/* Note:  Implement some variables sooner rather than later for color */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    background-color: #111;
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15em;
    line-height: 1.4;
    font-weight: 300;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style-type: none;
}

nav {
    margin-bottom: 3rem;
}
.logo {
    margin-top: 2rem;
}
.navi {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navi li {
    margin: 8px;
}

.current {
    color: #2BBC8A;
}

h1 {
    color: #2BBC8A;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 100;
    text-transform: uppercase;
}


hr {
    border-style: dotted none none;
    width: 5%;
    border-color: #2BBC8A;
    border-width: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
}

main {
    margin: 0 1rem;
}

/* Quotes */
q::before {content: open-quote;}
q::after {content: close-quote;}

a { 
    color:#fff; 
    text-decoration: none; 
}

/* Each state */

a:visited { 
    text-decoration: none; 
    color: #fff; 
}
a:hover { 
    text-decoration: none; 
    color: #2BBC8A; 
    transition: ease-in color 0.5s; 
}
a:focus { 
    text-decoration: none; 
    color: #2BBC8A;
}
a:hover, a:active { 
    text-decoration: none; 
    color: #2BBC8A;
    transition: ease-in color 0.5s;
}