:root {
  --primary: #2BBC8A;
  --white: #ffffff;
  --black: #222;
}

::selection {
  background: var(--primary);
}

::-moz-selection {
  background: var(--primary);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.night {
    color: var(--white);
    background-color: var(--black);
}

.day {
    color: var(--black);
    background-color: var(--white);
}

body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15em;
    line-height: 1.4;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: url("/images/glitch-pointer.png"), auto;
}

/* --------- UTILITY ----------- */

hr {
    border-style: dotted none none;
    width: 5%;
    border-color: var(--primary);
    border-width: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
}

li {
    list-style-type: none;
    list-style-position: inside; 
}

/* Quotes */
q::before {content: open-quote;}
q::after {content: close-quote;}

.container {
    padding-bottom: 1.5rem;
}

/* Links */

a,a:visited { 
    color: var(--white); 
    text-decoration: none; 
}

a:focus { 
    text-decoration: none; 
    color: var(--white);
}
a:hover, a:active { 
    text-decoration: none; 
    color: var(--white);
    font-weight: bold;
    transition: ease-in color 0.5s;
    cursor: url("/images/hover-cursor.png"), auto;
}

.icon-link {
    padding-right: 1rem;
}

/* images */

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    color: var(--white);
}

/* ----- ABOUT PAGE ------- */

#about-img, .contact-img {
    width: 100%;
    height: 500px; 
    object-fit: cover; 
}


/* --------- LOGO ----------- */

.logo {
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
}

/* ------ NAVIGATION ------ */

nav {
    margin-bottom: 2.5rem;
}

.navi {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navi li {
    margin: 20px;
    list-style-type: none;
}

.nav-link {
    font-weight: 400;
    font-size: 1em;
}

/* -------- MAIN -------- */

main {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 600px;
}

.page-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.page-subheading {
    font-size:  1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1rem;
}


/* ------- FOOTER -------- */

footer {
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    padding: 2rem;
}
