/* Note:  Implement some variables sooner rather than later for color */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #F8F8F8;
    background-color: #111;
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    line-height: 1.4;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style-type: none;
}

nav {
    margin-bottom: 3rem;
}

.navi {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navi li {
    margin: 8px;
}

.current {
    color: #2BBC8A;
}

h1 {
    color: #2BBC8A;
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
    text-transform: uppercase;
}


hr {
    border-style: dotted none none;
    width: 5%;
    border-color: #2BBC8A;
    border-width: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
}


q::before {content: open-quote;}
q::after {content: close-quote;}

a { color:#f8f8f8; text-decoration: none; } /* Globally */

/* Each state */

a:visited { text-decoration: none; color: #f8f8f8; }
a:hover { text-decoration: none; color: #2BBC8A; }
a:focus { text-decoration: none; color: #2BBC8A; }
a:hover, a:active { text-decoration: none; color: #2BBC8A; }