:root {
  --primary: #2bbc8a;
  --white: #ffffff;
  --black: #222;
}

::selection {
  background: var(--primary);
}

::-moz-selection {
  background: var(--primary);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.underline {
  text-decoration: underline;
}

.night {
  color: var(--white);
  background-color: var(--black);
}

.day {
  color: var(--black);
  background-color: var(--white);
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 1.15em;
  line-height: 1.4;
  font-weight: 300;
  letter-spacing: 1px;
  cursor: url("/images/glitch-pointer.png"), auto;
}

/* --------- UTILITY ----------- */

hr {
  border-style: dotted none none;
  width: 5%;
  border-color: #111;
  border-width: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
}

li {
  list-style-type: none;
  list-style-position: inside;
}

/* Quotes */
q::before {
  content: open-quote;
}
q::after {
  content: close-quote;
}

.container {
  padding-bottom: 1.5rem;
}

/* Links */

a,
a:visited {
  color: var(--white);
  text-decoration: none;
}

a:focus {
  text-decoration: none;
  color: var(--white);
}
a:hover,
a:active {
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
  transition: ease-in color 0.5s;
  cursor: url("/images/hover-cursor.png"), auto;
}

.icon-link {
  padding-right: 1rem;
}

/* images */

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Share Tech Mono", monospace;
  font-weight: 100;
  color: var(--white);
}

/* ----- ABOUT PAGE ------- */

#about-img,
.contact-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/* --------- LOGO ----------- */

.logo {
  padding-top: 2rem;
  text-align: center;
  font-size: 2.7rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  transition: color ease-in 0.2s;
}

/* ------ NAVIGATION ------ */

nav {
  margin-bottom: 2.5rem;
}

.navi {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navi li {
  margin: 17px;
  list-style-type: none;
}

.nav-link {
  font-weight: 400;
  font-size: 1.1em;
  letter-spacing: 0.2px;
  font-family: "Share Tech Mono", monospace;
}

/* -------- MAIN -------- */

main {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 600px;
}

.page-heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.page-subheading {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.bio-toggler {
  font-family: "Share Tech Mono", monospace;
}
/* ------- WORK -------- */

.work-link {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* ------- FOOTER -------- */

footer {
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  padding: 2rem;
}

/* ===================== FRONT-PAGE CARD =========================== */
.card {
  height: 100vh;
  background: #111;
  color: #f8f8f8;
  display: flex;
  padding: 8px;
  justify-content: space-around;
  font-family: "Share Tech Mono", monospace;
  width: 0 auto;
}

.box {
  position: relative;
  display: inline-block;
}

.box .text {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
}

.wrapper {
  max-width: 600px;
  margin: 2% 1rem 0 1rem;
}

.name {
  text-align: center;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 11px;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.name-link {
  text-decoration: none;
  color: #f8f8f8;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.icons i {
  padding: 20px 40px;
  color: #f8f8f8;
}

i:hover {
  color: #eeeeee;
  transform: rotate(360deg);
  transition: transform 0.5s ease-in-out;
}

.image {
  width: 100%;
  height: auto;
}

.image-box {
  position: relative;
  top: 0;
  left: 0;
}

.image--top {
  position: absolute;
  top: 0;
  left: 0;
}

.image--top:hover {
  opacity: 0.01;
  transition: all 1s ease-in-out;
  filter: invert(1);
}

.image--bottom {
  position: relative;
  top: 0;
  left: 0;
}

ul {
  list-style-type: none;
}

.email {
  text-align: center;
  font-size: 1rem;
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* Startup Animation */

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* Particles */

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
