:root {
  --primary: #2BBC8A;
  --white: #ffffff;
  --black: #111111;
}

::selection {
  background: var(--primary);
}

::-moz-selection {
  background: var(--primary);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--white);
    background-color: var(--black);
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15em;
    line-height: 1.4;
    font-weight: 300;
}

/* --------- UTILITY ----------- */

hr {
    border-style: dotted none none;
    width: 5%;
    border-color: var(--primary);
    border-width: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
}

li {
    list-style-type: lower-roman;
    list-style-position: inside; 
}

/* Quotes */
q::before {content: open-quote;}
q::after {content: close-quote;}

/* Links */

a, a:visited { 
    color: var(--white); 
    text-decoration: none; 
}

a:focus { 
    text-decoration: none; 
    color: var(--primary);
}
a:hover, a:active { 
    text-decoration: none; 
    color: var(--primary);
    transition: ease-in color 0.5s;
}

/* images */

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    color: var(--primary);
}

/* --------- LOGO ----------- */

.logo {
    margin-top: 2rem;
    text-align: center;
    font-size: 2.8rem;
    text-transform: uppercase;
}

/* ------ NAVIGATION ------ */

nav {
    margin-bottom: 3rem;
}

.navi {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navi li {
    margin: 8px;
    list-style-type: none;
}

.current {
    color: var(--primary);
}

/* -------- MAIN -------- */

main {
    margin: 0 1rem;
}

.page-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
}