<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask HTML Forms</title>
</head>
<body>
    <h1>test</h1>

    <form action="{{ url_for('receive_data') }}" method="post">

        <label for="name">Name</label>
        <input type="text" name="username" id="name" placeholder="Name" required/>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password" required/>
        <button type="submit">Ok</button>

    </form>
</body>
</html>