body {
   font-family: 'Montserrat', sans-serif;
}


#title {
    background-color: #ff4c68;
    color: #fff;
}

h1 {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    list-style: 1.5;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.container-fluid {
    padding: 3% 15% 10%;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}


/* Download Buttons */

.dl-btn {
    margin: 5% 3% 5% 0;
}

/* Title Image */


.title-img {
  -webkit-transform:rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
  position: absolute;
}



/* Features */

#features {
    text-align: center;
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.red-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.red-icon:hover {
    color: #ff4c68;
}

#features p {
    color: #8f8f8f;
}

.feature-cols {
    padding: 3.5rem;
}

/* Testimonials */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}


/* Pricing Section */

#pricing {
    padding: 100px;
}

#pricing p {
    color: #8f8f8f;
}

.pricing-col {
    padding: 3% 2%;
}


@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .title-img {
        position: static;
        transform: rotate(0);
    }
}